.navigation {
  width: 100%;
  height: 75px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  background-color: #333;
}
.logo {
  display: flex;
  align-items: center;
  margin-left: 20px;
  color: #fff;
}
.navigation .listContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;

  margin: 0;
  padding: 0;
  align-content: center;
}

.navigation .listContainer .listItem {
  line-height: 11/5rem;
  padding: 10px 0;
  display: flex;
  align-content: center;
  position: relative;
  color: #fff;
  margin: 0 25px;
}
.navigation .listContainer .listItem a {
  color: #fff;
  text-decoration: none;
}
