.books {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #dadada;
}
.books form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1%;
}
.books form label {
  font-size: 1.25rem;
  margin-right: 15px;
  width: 20%;
}
.books form input {
  width: 70%;
  padding: 5px;
  margin-left: 15px;
  font-size: 1rem;
  border: 1px solid #a6a6a6;
  border-radius: 5px;
}
.singleBook {
  margin: 1%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  width: 15%;
  border: 1px solid #a6a6a6;
  background-color: #333;
  border-radius: 10px;
}
.singleBook img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-width: 150px;
  margin: 0 auto 10px;
}
.singleBook h3 {
  text-align: center;
  letter-spacing: 0.75px;
  font-size: 1.25rem;
  text-wrap: wrap;
  margin: 0;
}
.singleBook p {
  text-align: center;
  font-size: 1rem;
  margin: 0;
}
.singleBook button {
  margin: 10px auto;
  padding: 5px 15px;
  font-size: 0.9rem;
  background-color: #a6a6a6;
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
@media (max-width: 1000px) {
  .singleBook {
    width: 25%;
  }
}
@media (max-width: 600px) {
  .singleBook {
    width: 40%;
  }
}
